.Rhistory
*.Rproj.user/
.quarto/
images/
renv/
tfg_web.Rproj
styles.css
codigoPSWD

tfg-web.Rproj

# Ignorar todo lo que esté en la carpeta propuestas en la raíz
/propuestas/
/defendidos/
/about_files/

# Pero NO ignorar (sí incluir) la carpeta docs/propuestas
!/docs/propuestas/
!/docs/defendidos/
!/docs/about_files/
/.quarto/
